<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DiegoHernandez_MaiaraAlmeida_COMP304Sec004_Lab5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HPT DiegoMaiara-Nurse Control"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiegoHernandez_COMP304Sec002_Lab05_Ex1">
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".ViewTestInfo"
            android:exported="false" />
        <activity
            android:name=".UpdateInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".PatientActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>